.container{
     display: flex;
     flex-direction: column;
}

.header{
     height: 120px;
}

.menu{
     height: 80px;
}

.content{
     flex: 1; /* phần này chiếm hết phần còn lại */
}

.footer{
     height: 80px;
}

h1 {
color:red;
}
.f1{
  color: tomato;
  margin-top: 18pt;
  margin-botton: 12pt;
  font-size: 20px;
  font-weight: bold; 
  font-family: Arial;
}
.f2{
  color: purple;
  margin-top: 10pt;
  margin-botton: 6pt;
  font-size: 15px;
font-style: italic; 
  font-family: Arial;
}
.f3{
  color: pink;
  margin-top: 18pt;
  margin-botton: 12pt;
  font-size: 20px;
  font-weight: bold; 
  font-family: Arial;
}
.f4{
  color: black;
  margin-top: 10pt;
  margin-botton: 6pt;
  font-size: 15px;
font-style: normal; 
  font-family: Arial;
}
